<div>
    <input type="text" [(ngModel)]="filterName" placeholder="Filter by Name" (input)="applyFilters()" />
    <select [(ngModel)]="filterCategory" (ngModelChange)="onCategoryChange($event)">
        <option value="">All Categories</option>
        <option value="clothing">Clothing</option>
        <option value="tech">Tech</option>
    </select>
</div>

<div class="carousel rounded-box max-w-screen-xl">
    <div *ngFor="let product of filteredProducts" class="carousel-item card card-compact rounded-box w-96 bg-base-100 shadow-xl border"  >    
        <img src="../../assets/{{product.img_url}}" alt="Burger" class="rounded-box max-w-xs" />
        <div class="card-body">
                <div class="card-title m-2 text-center">
                    {{product.name}}
                </div>
                <div class="card-actions justify-end horizontal">
                    <div class="badge badge-outline">{{product.category}}</div>
                    <div class="badge badge-outline">SKU:{{product.SKU}}</div>
                    <button class="btn btn-secondary"> Edit!</button>
                </div>
            </div>

        </div>

</div>