<div class="navbar bg-primary">
    <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl"> Merch & Tech</a>
    </div>
    <div class="navbar-center">
        <ul class="menu menu-horizontal px-1">
            <li tabindex="0">
                <details>
                    <summary>Products</summary>
                    <ul class="p-2">
                        <li><a [routerLink]="'products'">Merch</a></li>
                        <li><a>Tech</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>